In [1]:
import pandas as pd
import numpy as np

In [3]:
tornado_dataframe = pd.read_csv('./Historical_Tornado_Tracks.csv')

/Users/Vineeth/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
tornado_dataframe.tail()

,OBJECTID,om,yr,mo,dy,date,time,tz,st,stf,...,closs,slat,slon,elat,elon,len,wid,fc,Pre_1996_Loss,Shape__Length
60109,59996,607171,2015,11,16,2015-11-16,19:24:00,3,KS,20,...,0,39.92,-99.75,40.18,-99.69,18.45,400,0,Post-1995,39409.151314
60110,59997,608901,2015,11,16,2015-11-16,19:43:00,3,TX,48,...,0,35.75,-101.25,35.76,-101.25,0.56,50,0,Post-1995,1123.461915
60111,59998,608869,2015,11,16,2015-11-16,19:45:00,3,TX,48,...,0,35.79,-100.62,35.85,-100.52,7.21,50,0,Post-1995,14320.186105
60112,59999,608896,2015,11,16,2015-11-16,19:58:00,3,TX,48,...,0,35.43,-101.63,35.43,-101.62,0.38,50,0,Post-1995,760.358187
60113,60000,609656,2015,11,16,2015-11-16,20:13:00,3,KS,20,...,0,37.00,-99.31,37.18,-99.12,16.08,810,0,Post-1995,32554.080703